<!-- view post -->
<div class="col">
  <div class="post card mb-3">
    <div class="card-header">
      <!-- header acts as a link to view a single post -->
      <h4 style="margin: 0">{{title}}</h4>
    </div>
    <div class="card-body">
      <div class="form-group">
        <p class="card-text">{{user.username}}</p>
        <span class="badge rounded-pill bg-info mb-3">{{category}}</span>
        <p class="card-text">{{description}}</p>
        <a type="button" href="/posts/{{id}}" class="btn btn-success">View Post</a>
      </div>
    </div>
  </div>
</div>