<div class="pet-card">
<div class="card border-info mb-3" style="max-width: 20rem;">
  <div class="card-header">{{name}}</div>
  <div class="card-body">
    <h4 class="card-title">{{species}}</h4>
    <h4 class="card-title">{{breed}}</h4>
    <h4 class="card-title">{{gender}}</h4>
    <h4 class="card-title">{{age}}</h4>
  </div>
</div>
</div>